.searchForm {
    margin-left: 35%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchInput {
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid #2196f3;
    margin-right: 20px;
    font-size: 20px;
    outline: transparent;
    transition: color 250ms linear;
  }
  .searchInput:hover {
    background-color: #f4f8fa;
  }
  
  .searchButton {
    cursor: pointer;
    padding: 13px 15px;
    box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
    transition: color 250ms linear;
    border-radius: 10px;
    border: 3px solid #2196f3;
    font-weight: bold;
  }
  
  .searchButton:hover {
    background-color: #2196f3;
    color: white;
  }